/* Add Global styles here */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1;
    padding: 0;
    background-color:gainsboro;
}
header {
    background-color:aquamarine;
    margin: 0rem;
    padding: .2rem;
    color:black;
    
    text-justify: center;
    text-align: center;
}
nav {
    background-color:aquamarine;
    padding: 0.8rem;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.8rem;
    flex-wrap: wrap;
}
nav ul li a {
    text-decoration: none;
    color:darkblue;
    padding: 0.7rem 1rem;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color:lightcyan;
    border-radius: 4px;
}
main {
    background-color:gainsboro;
    padding: 1rem;
    text-align: center;
    text-justify: center;
}
ul {
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
ul li {
    margin: 1rem;
}
footer {
    background-color:lightsteelblue;
    padding: .2rem 1rem;
}
form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
form input, form button {
    margin: 0.3rem 0rem;
    padding: 0.3rem 0rem;
    font-size: 1rem;
}
#list {
    list-style-type: none;
    margin: 1rem;
}
.hidden {
    display: none;
}


